{% load static %}
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom col-6 mx-auto">
    <a href="{% url 'javerly:home' %}" class="d-flex align-items-center text-dark text-decoration-none">
        <img
                    src="{% static 'logo_1.png' %}"
                    class="d-block w-50"
                    alt="..."
            />
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'javerly:home' %}">home</a>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button class="py-2 text-dark text-decoration-none btn btn-link" type="submit">Выйти</button>
        </form>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'users:profile' %}">Профиль</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'services:all_calculations' %}">Расчеты</a>
        {% else %}
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'users:login' %}">Войти</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
    </nav>
</div>