<div
        class="modal fade"
        id="contacts"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    📫 Наши контакты:
                </h1>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <li>Деревня Коржавино - 32, Рыбинский район, Ярославская область,</li>
                <li>50 лет ВЛКСМ д.10, Рыбинск</li>
                <li>89109710203</li>
                <li>89159718887</li>
                {% if user.is_authenticated %}
                {% else %}
                <p>Авторизуйтесь и получите доступ к блогу, примерному подсчету стоимости услуг, личному кабинету...</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

