{% extends 'javerly/base.html' %}
{% load my_tags %}
{% block content %}
{% load static %}
<div class="row mt-5">
    <div class="col-6 mx-auto" style="width: 90%; max-width: 600px" >
        <div class="card bg-body p-2 bg-opacity-50">
            <div class="card-body">
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center col-10">
                    <h2 class="mb-3">Профиль</h2>
                    <h2 class="display-7 fw-normal">{{ user.email|title }}</h2>
                    {% if user.avatar %}
                    <img src="{{ user.avatar | media_filter }}" class="col-2 rounded mt-3"
                         style="height: 100px; width: max-content">
                    {% else %}
                    <p>Загрузите ваш аватар чтоб он отобразился здесь...</p>
                    {% endif %}
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-warning">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/user_form.js' %}"></script>
{% endblock %}